body {
  background-color: #0d0d0d;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.logo-container svg {
  width: 500px;
  height: auto;
  display: block;
}
